menuconfig MODULES_DYNAMIXEL_SERIAL
	bool "dynamixel_serial"
	default n
	---help---
		Enable support for dynamixel_serial

menuconfig USER_DYNAMIXEL_SERIAL
	bool "dynamixel_serial running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_DYNAMIXEL_SERIAL
	---help---
		Put dynamixel_serial in userspace memory
